# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Local database files
*.db
*.sqlite3